.Button {
  width: 100%;
  margin: 0 auto;
  border: 2px solid black;
  background-color: #fa3750;
}

.Button:hover,
.CreateFormButton:hover,
.ImageButton:hover {
  background-color: #5c8294;
}

.CreateFormButton {
  width: 33%;
  margin: 0 5%;
  border: 2px solid black;
  background-color: #fa3750;
}

.ImageButton {
  cursor: pointer;
  color: white;
  border: 2px solid black;
  background-color: #fa3750;
  padding: 1% 2%;
}
