.Container {
    margin: 0 5% 10%;    
}

.ContactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Message {
    width: 80vw;
}

.Heading {
    margin: 0 auto 5%;
    text-align: center;
}