.Container {
    margin: 0 5% 10%;    
}

.ContactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Message {
    width: 80vw;
    font-family: "Cormorant Garamond", serif;
    font-size: 1.8rem;
    color: black;
    padding: 1%;
    border-color: #568294;
}


.Heading {
    margin: 0 auto 5%;
    text-align: center;
}