.DropdownItem {
  display: inline-block;
  max-width: 50%;
  padding: 0px;
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}

.SettingsButton {
  width: 7vw;
  float: right;
  max-width: 55px;
}

.SettingsButton:hover {
  cursor: pointer;
  filter: invert(50%) sepia(52%) saturate(6690%) hue-rotate(328deg)
  brightness(94%) contrast(110%);
}
