.Price label {
  display: block;
}

.Price input {
  width: 30%;
  margin: 0 auto;
  display: inline-block;
}

.Currency {
  margin-left: 2%;
  background-color: white;
}

.FormGroup {
  margin-bottom: 3rem;
}

.FormGroup input,
.FormGroup select,
.FormGroup textarea {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
  color: black;
}

.ImageWindow {
  padding: 0 !important;
}

.ImageWindow:hover {
  cursor: pointer;
}
