.HeaderContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.HeaderContainer Link {
    flex: 1 0 100%;
}

.HeaderOptions {
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Teaser{
    text-align: center;
    margin: 5% 0;
}

.Teaser:hover {
    color: #fa3750;
}

.Title {
    height: 48px;
}

.Card {
    border: 2px solid black;
    margin-top: 5%;
}

.Line {
    border-top: 2px solid #fa3750;
    margin: 0;
}

.Subtext {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
}

.Subtext p {
    margin: 0;
}

.Image {
    max-width: 768px;
    object-fit: contain;    
}

.DetailSize{
    width: 80%;
    margin: 5% auto;
}

.ListSize{
    width: 400px;
}