.WordBreak {
    word-break: break-all;
  }

.ProfileEditContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TextFields {
  width: 80vw;
}

.FormContainer {
  margin: 2% auto 10%;
}

.PhoneNote {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2rem;
  text-align: center;
}