* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Seymour One", sans-serif;
  min-height: 100vh;
}

.Main{
  position: relative;
  width: 100%;
  padding: 0;
}

a {
  color: black;
  transition: color ease-in-out 0.2s;
}

a:hover {
  color: #fa3750;
}

.Content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 2px;
}

.Owner:hover {
  color: #fa3750;
  filter: invert(50%) sepia(52%) saturate(6690%) hue-rotate(328deg)
  brightness(94%) contrast(110%);
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Row {
  margin-left: 0;
  margin-right: 0;

}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

input[type="file"] {
  display: none;
}

figure {
  text-align: center;
  display: inline-block;
}

.Star {
  width: 50px;
  padding-bottom: 10px;
  filter: invert(50%) sepia(52%) saturate(6690%) hue-rotate(328deg)
  brightness(94%) contrast(110%);
}

.ScrollContainer {
  padding-bottom: 10%;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #fa3750;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

