/* 
dacapo fonts
font-family: 'Cormorant Garamond', serif;
font-family: 'Seymour One', sans-serif;
*/

* {
  box-sizing: border-box;
}

.App {
  font-family: "Seymour One", sans-serif;
  min-height: 100vh;
}

a {
  color: black !important;
  transition: color ease-in-out 0.2s;
}

a:hover {
  color: #FA3750 !important;
}


a:hover img {
  filter: invert(50%) sepia(52%) saturate(6690%) hue-rotate(328deg) brightness(94%) contrast(110%);
  transition: color ease-in-out 0.2s;
}

img:hover {
  cursor: pointer;
  transition: color ease-in-out 0.2s;
  color: #FA3750;
}